<main>
    <div class="top-main">
        <div class="intro">
            <h1>Welcome to Startups.com</h1>
            <p>Discover and join the most innovative and exciting startup events across worldwide. Connect with
                entrepreneurs, investors, and industry experts to share ideas, form partnerships, and build a thriving
                startup ecosystem.</p>
            <button type="button" [routerLink]="['/startupevents']">Explore events</button>
        </div>
    </div>
    <div class="top-top">
        <div class="about">
            <h1>About our project</h1>
            <p>We are the central resource for start-up events dealing with all areas of innovation and technology in worldwide. Our mission is to stimulate the growth and development of the startup community, to invest in connecting investors, entrepreneurs, experts and enthusiasts. We constantly update our event database and see all important startup events to make it easier for our visitors to find and participate in them. Our users can find events that are right for them thanks to filters by cities and categories. Collaboration and exchange are key success factors in individual global startups. That is why we are connected with Startups.com - to help you stay up to date with all the current events that you feel and participate with us.</p>
        </div>
    </div>
</main>
